{
  "image_configuration": {
    "images": {
      "bac.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "background.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "banna.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "homer.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "idea.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "padlock.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "planet.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "small_speaker.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "temp.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "thermometer.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "tumbnail.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      },
      "vinyl.png": {
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection"
      }
    },
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}